* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Futura New";
}

button {
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
  padding: 0px;
}

body {
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.7) 0%,
    #ffffff 70.72%
  );
  max-width: 404px;
  margin: 0 auto;
  position: relative;
}

section {
  width: 100%;
  padding: 0px 17px;
  position: relative;
}

.flex {
  display: flex;
}

.border {
  border-radius: 0px 0px 24px 24px;
}

.iphone {
  padding: 15px 17px 15px 20px;
  align-items: center;
  justify-content: space-between;
}

.iphone-right {
  gap: 5px;
}

.logo-box {
  width: fit-content;
  margin: 0 auto;
  margin-top: 85px;
}

.logo-big {
  height: 60px;
  width: 199px;
}

.form {
  margin-top: 25px;
}

.login {
  margin-top: 56px;
}

.login-text {
  font-family: "Futura New";
  font-style: normal;
  font-weight: 600;
  text-align: center;
  font-size: 24px;
  line-height: 110%;
  /* or 26px */

  color: #000000;
}

.login-label {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 20px;
  border: 1px solid #e9e9e9;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 15px;
}

.phone-text {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #747d88;
}

.login-btn {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 10px;
}

.login-input {
  width: 100%;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #747d88;
}

.reset-text {
  text-align: center;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #747d88;
}

.reset-btn {
  text-align: center;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #747d88;
  border-bottom: 1px solid #747d88;
}

.login-submit {
  font-family: "Futura New";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 125%;
  color: #ffffff;
  padding: 20px 30px;
  background: #00538a;
  border-radius: 36px;
  width: 200px;
  height: 66px;
  display: block;
  margin: 0 auto;
  margin-top: 35px;
}

.login-normal {
  width: 102px;
  height: 27px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 17px;
  position: relative;
}

.header-box {
  display: flex;
  align-items: center;
}

.logo-normal {
  width: 102px;
  height: 27px;
}

.logo-plus {
  margin-top: 5px;
}

.header-lang {
  margin-top: 5px;
  padding: 0px 0px 5px;
  width: 24px;
  height: 24px;
  background: #747d88;
  border-radius: 100px;
  font-family: "Futura New";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 100%;
  color: #ffffff;
}

.logo {
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
}

.offers-section {
  margin-top: 15px;
}

.offers-arrowLeft {
  display: block;
}

.offers-text {
  font-family: "Futura New";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}

.staff {
  margin-top: 31px;
}

.staff-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 1px solid #f3f3f3;
}

.staff-info {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}

.staff-info__img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
}

.staff-info__name {
  font-family: "Futura New";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: -0.01em;
  color: #000000;
}

.staff-info__post {
  font-family: "Futura New";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #747d88;
}

.arrowRight {
  transform: rotate(180deg);
}

.arrowRight:hover,
.arrowRight:focus {
  stroke: #06bee1;
}

.staff-one:last-child {
  z-index: 15;
  position: relative;
}

.bottom {
  width: 100%;
  height: 111px;
  left: 0px;
  top: 763px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 70.72%
  );
  border-radius: 24px 24px 0px 0px;
  z-index: 10;
  position: fixed;
  top: calc(100% - 111px);
  left: 0;
}

.choice-section {
  margin-top: 15px;
}

.hidden {
  display: none;
}

.one-offer__img {
  width: 75px;
  height: 75px;
  margin: 0 auto;
  display: block;
}

.one-offer__text {
  margin-top: 10px;
  font-family: "Futura New";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #747d88;
  text-align: center;
}

.center {
  text-align: center;
}

.one-offer__box {
  padding-bottom: 15px;
  border-bottom: 1px solid #f3f3f3;
}

.mt-5 {
  margin-top: 5px;
}

.offer-input {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #000000;
}

.offer-input__info {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #747d88;
}

.mb-5 {
  margin-bottom: 5px;
}

.offer-btns {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.offer-btn {
  width: fit-content;
  padding: 5px 22px;
  background: #f9f9f9;
  border: 1px solid #e9e9e9;
  border-radius: 12px;
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #000000;
}

.offer-rating {
  padding: 30px 10px;
  background: #f9f9f9;
}

.offer-rating__text {
  font-family: "Futura New";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: -0.01em;
  color: #000000;
  text-align: center;
}

.stars {
  width: fit-content;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 11px;
}

.comment {
  margin-top: 15px;
}

.offer-comment {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #000000;
}

.agree {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

.agree-text {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #747d88;
}

.checkbox {
  width: 24px;
  height: 24px;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opacity {
  opacity: 0;
}

.agree-btn {
  width: fit-content;
  margin: 35px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  gap: 10px;
  width: 219px;
  height: 66px;
  background: #00538a;
  border-radius: 36px;
  font-family: "Futura New";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 125%;
  color: #ffffff;
}

.add-logo__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 57px;
  height: 57px;
  background: #ffffff;
  border-radius: 300px;
  margin: 0 auto;
  box-shadow: 0 2px 4px whitesmoke;
}

.add-logo__content {
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f3f3f3;
  position: relative;
}

.add-logo__span {
  font-family: "Futura New";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #747d88;
}

.add-logo__p {
  font-family: "Futura New";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 125%;
  color: #000000;
}

.add-staff__btn {
  padding: 15px;
  width: 54px;
  height: 54px;
  background: #00538a;
  border-radius: 36px;
  position: absolute;
  top: -10px;
  right: 0;
}

.staff-galochka {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 1px solid #f9f9f9;
  border-radius: 100px;
  bottom: 0;
  left: 55px;
}

.support {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 20px 50px;
  position: fixed;
  bottom: 5px;
  margin: 0 auto;
  background: #f9f9f9;
  border-radius: 12px;
  z-index: 25;
}

.support-phone {
  width: 45px;
  height: 45px;
  background: #31be00;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.support-number {
  font-family: "Futura New";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 135%;
  letter-spacing: -0.01em;
  color: #000000;
}

.support-text {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #747d88;
}

.pb-80 {
  padding-bottom: 100px;
}
